<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="logo">
                <h2>HMS</h2>
                <p>Hospital Management System</p>
            </div>
            <div class="menu">
                <a href="/doctor_dashboard"><i class="fa-solid fa-house"></i>Dashboard</a>
                <a href="/doc-view_appointments" class="active"><i class="fa-solid fa-list"></i>Appointments</a>
                <a href="/doc-view_patients"><i class="fa-solid fa-user-injury"></i>Patients</a>
                <a href="/doc-med_rec"><i class="fa-solid fa-files-medical"></i>Patient Medical Info</a>
                <a href="/doc-view_profile"><i class="fa-solid fa-user"></i>Profile</a>
                <a href="/drlogout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
            </div>
        </div>
        <div class="content">
            <div class="topbar">
                <h1 class="page-title">Appointments</h1>
                <div class="profile">
                    <i class="fa-solid fa-user-circle"></i>
                    Doctor
                </div>
            </div>
            <div class="card">
                <table border="2">
                <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
