<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
      <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <h2>Doctor Panel</h2>
        <a href="/doctor_dashboard" class="active"><i class="fa-solid fa-house"></i>Dashboard</a>
        <a href="/doc-view_appointments"><i class="fa-solid fa-list"></i>Appointments</a>
        <a href="/doc-view_patients"><i class="fa-solid fa-user-injury"></i>Patients</a>
        <a href="/doc-med_rec"><i class="fa-solid fa-files-medical"></i>Patient Medical Info</a>
        <a href="/doc-view_profile"><i class="fa-solid fa-user"></i>Profile</a>
        <a href="/drlogout">Logout</a>
    </div>
    <div class="main">
        <h1>Doctor Dashboard</h1>
        <div class="cards">
            <div class="card">
                <p>Today's Appointments</p>
            </div>
            <div class="card">
                <p>Total Patients</p>
            </div>
            <div class="card">
                <p>Prescriptions Issued</p>
            </div>
        </div>

        <div class="section">
            <h2>Quick Actions</h2>
            <div class="actions">
               <a href="/doc-view_appointments">
               <button><h3>View Appointments</h3></button>
               </a>
               <a href="/doc-view_patients">
               <button><h3>View Patients</h3></button>
               </a>
               <a href="/add_pres">
               <button><h3>Add Prescription</h3></button>
               </a>
            </div>
        </div>
    </div>
</body>
</html>

