<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet"
      href="{{ url_for('static', filename='doctor_dashboard.css') }}">
</head>
<body>
      <div class="sidebar">
        <h2>Doctor Panel</h2>
        <a href="/doctor_dashboard">Dashboard</a>
        <a href="/view_appointments">Appointments</a>
        <a href="/view_patients">Patients</a>
        <a href="/diagnosis">Diagnosis</a>
        <a href="/view_profile">Profile</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="section">
        <h2>You have been logged out successfully.</h2>
        <p>Thank you for using Hospital Management System.</p>
        <a href="doctor_login.html">
            <button>Login Again</button>
        </a>
        </div>
</body>
</html>