body{
    margin: 10px;
    background: white;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    width: 250px;
    padding: 20px;
    background:#075e9d;
    color: white;
    border-radius: 20px;
}
.sidebar h2{
    color: white;
    margin-bottom: 40px;
    text-align: center;
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
    font-size: 20px;
}
.sidebar a:hover{
    background: white;
    color: #075e9d;
    transition: 0.3s;
    padding: 5px;
    border-radius: 10px;
}
.sidebar a i{
    margin-right: 10px;
}
.main-content{
    flex: 1;
    margin: 30px;
    background: white;
}
.page-header{
     background:#0e7fd0;
     color: white;
     padding: 5px 10px;
     border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.page-header h2{
    margin: 0px;
    font-size: 30px;
}
.page-header i{
    margin-right: 10px;
    font-size: 25px;
}
.profile-section{
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(208, 230, 249);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
}
.details{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom:  20px;
    font-size: 18px;
}
.details label{
    width: 140px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: rgb(250, 250, 250);
    border: 3px solid rgb(215, 234, 238)
    
}
.btn{
    border-radius: 5px;
    background: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-top: 25px;
}
.btn:hover{
    background-color: rgb(7, 101, 159);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 0 0 3px rgb(16, 16, 232);
}
.btn-edit{
    padding: 5px 10px;
    border-radius: 5px;
    background: rgb(119, 119, 119);
    cursor: pointer;
    color: white;
}
.btn-edit:hover{
     background-color: rgb(3, 107, 171);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 0 0 3px rgb(16, 16, 232);
}
.profile-container{
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.profile-section,.password{
    flex: 1;
}
.details input,.details select,details textarea{
    width: 220px;
    padding: 5px;
    border-radius: 5px;
}
.password{
    flex: 1;
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(208, 230, 249);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
}
.password-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: rgb(248, 248, 248);
}
.details label{
    width: 170px;
}
.btn-password{
    padding: 5px 10px;
    border-radius: 5px;
     background: rgb(119, 119, 119);
    cursor: pointer;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}
.btn-password:hover{
    background-color: rgb(3, 107, 171);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 0 0 3px rgb(16, 16, 232);
}
.active{
    background: rgb(84, 129, 221);
    color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
}
