body{
    margin:0;
    background-color:rgb(172, 205, 238);
    /* overflow:hidden;
    height:100vh; */
}
.main{
    display:flex;
}

.logo{
    width:250px;
    height:100vh;
    background-color:rgb(36, 36, 88);
    color:white;
    padding:20px;
}
.logo a{
    text-decoration: none;
    color:white;
    padding:10px;
}
.i{
    padding:20px;
    border-radius: 8px;
}
.i:hover{
    background-color: rgb(81, 81, 165);;
}

.content{
    flex:1;
}
.title{
    background:white;
    padding:5px;
    text-align:center;
}
.topbox{
    display:flex;
    gap:20px;
    padding:25px;
}
.topb{
    display:flex;
    width:230px;
    height:50px;
    background-color: white;
    border-radius:8px;
    padding:30px;
    font-size: 18px;
}
.topbicons{
    border-radius: 4px;
    background-color:rgb(172, 205, 238);
    padding:10px;
}
.box{
    display:flex;
    gap:20px;
    padding:35px;
}
.actions{
    width:550px;
    background:white;
    border-radius:8px;
    padding:20px;
}
.table{
    width:550px;
    background:white;
    border-radius:8px;
    padding:20px;
}
.icons{
    /* padding:10px; */
    margin-top: 120px;
}

button{
    width:250px;
    height:70px;
    border:none;
    border-radius:8px;
    margin:10px;
    cursor:pointer;
}
.b1{
    background-color:rgb(199,171,226);
    
}
.b1:hover{
    background-color:rgb(174, 122, 225);
}
.b2{
    background-color:rgb(237,241,188);
}
.b2:hover{
   background-color:rgb(237, 246, 136);
}
.b3{
    background-color:rgb(161,224,231);
}
.b3:hover{
    background-color:rgb(133, 231, 241);
}
.b4{
    background-color:rgb(231,144,144);
}
.b4:hover{
    background-color:rgb(231, 111, 111);
}
.b5{
    background-color:rgb(198, 245, 200);
}
.b5:hover{
    background-color:rgb(157, 250, 161);
}