<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../static/table.css">
     <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="main">
         <div class="sidebar">
             <div class="logo">
                <h2>HMS</h2
                <p>Hospital Management System</p>
             </div>
            <div class="menu">
                <a href="doctor_dashboard.html"><i class="fa-solid fa-house"></i>Dashboard</a>
                <a href="view_appointments.html"><i class="fa-solid fa-list"></i>Appointments</a>
                <a href="view_patients.html"><i class="fa-solid fa-user-injured"></i>Patients</a>
                <a href="diagnosis.html"><i class="fa-solid fa-notes-medical"></i>Diagnosis</a>
                <a href="view_profile.html"><i class="fa-solid fa-user"></i>Profile</a>
                <a href="logout.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
            </div>
    </div>
        <div class="content">
            <h1>Add Prescription</h1>
            <div class="profile">
                <i class="fa-solid fa-user-circle"></i>
                Doctor
            </div>
        </div>
    <div class="card">
    <form method="POST">
        <div class="form-row">
            <div class="form-group">
                <label>Patient Name</label>
                <input type="text" name="patient" placeholder="Enter name">
            </div>
        </div>
        <div class="form-group">
            <label>Medicine</label>
            <input type="text" name="medicine" placeholder="Enter medicine">
        </div>
        <div class="form-group">
            <label>Dosage</label>
            <input type="text" name="dosage" placeholder="Enter dosage">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
</div>
</div>
</body>
</html>
