<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../static/doctor_dashboard.css">
</head>
<body>
     <div class="sidebar">
        <h2>Doctor Panel</h2>

        <a href="doctor_dashboard.html">Dashboard</a>
        <a href="view_appointments.html">Appointments</a>
        <a href="view_patients.html">Patients</a>
        <a href="diagnosis.html">Diagnosis</a>
        <a href="view_profile.html">Profile</a>
        <a href="logout.html">Logout</a>
    </div>
    <h1>Add Prescription</h1>
    <div class="section">
    <form method="POST">
        <label>Patient Name</label>
        <input type="text" name="patient" placeholder="Enter name">
        <br><br>
        <label>Medicine</label>
        <input type="text" name="medicine" placeholder="Enter medicine">
        <br><br>
        <label>Dosage</label>
        <input type="text" name="dosage" placeholder="Enter dosage">
        <br><br>
        <button type="submit">Submit</button>
</form>
</div>
</body>
</html>