<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Billing</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='page.css')}}">
</head>
<body>
    <div class="main">
        <div class="sidebar">

            <div class="logo">
                <h2>HMS</h2>
                <p>Hospital Management System</p>
            </div>

            <div class="menu">

                <a href="/admin">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>

                <a href="/viewpatients">
                    <i class="fa-solid fa-user"></i>
                    Patient Records
                </a>

                <a href="/viewappointments">
                    <i class="fa-solid fa-calendar"></i>
                    Appointments
                </a>

                <a href="/view_doc">
                    <i class="fa-solid fa-user-doctor"></i>
                    Doctors
                </a>

                <a href="/view_bill">
                    <i class="fa-solid fa-file-invoice"></i>
                    Billing
                </a>
                 <a href="/"> 
                   <i class="fa-solid fa-right-from-bracket"></i>
                Logout
                </a>
            </div>

        </div>
        <div class="content">
            <div class="topbar">
                <h1 class="page-title">Billing Details</h1>
                <div class="profile">
                    <i class="fa-solid fa-user-circle"></i>
                    Admin
                </div>

            </div>
             <div class="card">
            <table border="1">

                <tr>
                    <th>Bill ID</th>
                    <th>Patient ID</th>
                    <th>Appointment ID</th>
                    <th>Bill Date</th>
                    <th>Consultation Fee</th>
                    <th>Room Charges</th>
                    <th>Medicine Charges</th>
                    <th>Other Charges</th>
                    <th>Total Amount</th>
                </tr>

                {% for bill in bills %}

                <tr>
                    <td>{{ bill['b_id'] }}</td>
                    <td>{{ bill['p_id'] }}</td>
                    <td>{{ bill['app_id'] }}</td>
                    <td>{{ bill['bill_date'] }}</td>
                    <td>{{ bill['cons_fee'] }}</td>
                    <td>{{ bill['room'] }}</td>
                    <td>{{ bill['medicine'] }}</td>
                    <td>{{ bill['other'] }}</td>
                    <td>
                        {{ bill['cons_fee'] + bill['room'] + bill['medicine'] + bill['other'] }}
                    </td>
                </tr>

                {% endfor %}

            </table>
            </div>
        </div>
    </div>
</body>
</html>