<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='page.css')}}">
</head>
<body>
    <div class="main">
        <div class="sidebar">

            <div class="logo">
                <h2>HMS</h2>
                <p>Hospital Management System</p>
            </div>

            <div class="menu">

                <a href="/admin">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>

                <a href="/viewpatients">
                    <i class="fa-solid fa-user"></i>
                    Patient Records
                </a>

                <a href="/viewappointments">
                    <i class="fa-solid fa-calendar"></i>
                    Appointments
                </a>

                <a href="/view_doc">
                    <i class="fa-solid fa-user-doctor"></i>
                    Doctors
                </a>

                <a href="/view_bill">
                    <i class="fa-solid fa-file-invoice"></i>
                    Billing
                </a>
                 <a href="/"> 
                   <i class="fa-solid fa-right-from-bracket"></i>
                Logout
                </a>
            </div>

        </div>
        <div class="content">
            <div class="topbar">
                <h1 class="page-title">Billing Details</h1>
                <div class="profile">
                    <i class="fa-solid fa-user-circle"></i>
                    Admin
                </div>

            </div>
             <div class="card">
                <form action="/add_bill" method="POST">
                    <label>Patient ID</label><br>
                    <input type="number" name="p_id" required><br><br>

                    <label>Appointment ID</label><br>
                    <input type="number" name="app_id" required><br><br>

                    <label>Bill Date</label><br>
                    <input type="date" name="bill_date" required><br><br>

                    <label>Consultation Fee</label><br>
                    <input type="number" step="0.01" name="cons_fee" required><br><br>

                    <label>Room Charges</label><br>
                    <input type="number" step="0.01" name="room" required><br><br>

                    <label>Medicine Charges</label><br>
                    <input type="number" step="0.01" name="medicine" required><br><br>

                    <label>Other Charges</label><br>
                    <input type="number" step="0.01" name="other" required><br><br>

                    <button type="submit">Generate Bill</button>

                    
                </form>
            </div>

        </div>
    </div>
</body>
</html>
