<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Doctors</title>
    <link rel="stylesheet" href="{{url_for('static',filename='page.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="main">
        <div class="logo">
            <h2>HMS</h2>
            <p>Hospital Management System</p>
            <div class="icons">
                <a href="/admin" class="i"> <i class="fa-solid fa-house"></i>  Dashboard</a><br><br>
                <a href="/viewpatients" class="i"><i class="fa-solid fa-user"></i> Patient Records</a><br><br>
                <a href="/viewappointments" class="i"><i class="fa-solid fa-calendar"></i> Appointments</a><br><br>
                <a href="/view_doc" class="i"><i class="fa-solid fa-user-doctor"></i> Doctors</a><br><br>
                <a href="/view_bill" class="i"><i class="fa-solid fa-file-invoice"></i> Billing</a><br><br>
                <a href="/"> 
               <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
            </div>
        </div>
            <div class="box">
                <form action="/admin.add_doctor" method="POST">
                    <h1>Doctor Registration</h1>
                    <h3>Personal Information</h3>
                    <label>Full Name:</label>
                    <input type="text" name="name" required><br><br>
                    <label>Age:</label>
                    <input type="number" name="age" required><br><br>
                    <label>E-mail:</label>
                    <input type="email" name="email"required><br><br>
                    <label>Gender:</label>
                    <input type="radio" name="gender">Male
                    <input type="radio" name="gender">Female
                    <input type="radio" name="gender">Other<br><br>
                    <h3>Professional Information</h3>
                    <label>Qualification:</label>
                    <input type="text" name="qualification" required><br><br>
                    <label>Specialisation:</label>
                    <select name="specialization">
                            <option value="">Select Specialisation</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Gynecology">Gynecology</option>
                            <option value="ENT">ENT</option>
                            <option value="Gastroenterology">Gastroenterology</option>
                            <option value="Emergency Medicine">Emergency Medicine</option>
                    </select><br><br>
                    <label>Department:</label>
                    <select name="department">
                            <option value="">Select Department</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Gynecology">Gynecology</option>
                            <option value="ENT">ENT</option>
                            <option value="Gastroenterology">Gastroenterology</option>
                            <option value="Emergency Medicine">Emergency Medicine</option>
                    </select>
                    <br><br>
                    <label>Years of Experience:</label>
                    <input type="number" name="experience"><br><br>
                    <label>Consultation Fee:</label>
                    <input type="number" name="cons_fee"><br><br>
                    <button type="submit">Register Doctor</button>
                </form>
            </div>
    </div>
</body>
</html>
