<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>

    <link rel="stylesheet" href="../static/style1.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="main">

    <div class="sidebar">

        <div class="logo">
            <h2>HMS</h2>
            <p>Hospital Management System</p>
        </div>

        <div class="menu">

            <a href="admin.html">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>

            <a href="#">
                <i class="fa-solid fa-user"></i>
                Patient Records
            </a>

            <a href="#">
                <i class="fa-solid fa-calendar"></i>
                Appointments
            </a>

            <a href="#">
                <i class="fa-solid fa-user-doctor"></i>
                Doctors
            </a>

            <a href="#">
                <i class="fa-solid fa-file-prescription"></i>
                Prescriptions
            </a>

            <a href="#">
                <i class="fa-solid fa-file-invoice"></i>
                Billing
            </a>

            <a href="#">
                <i class="fa-solid fa-gear"></i>
                Settings
            </a>

        </div>

    </div>

    <div class="content">

        <div class="topbar">

            <div class="profile">
                <i class="fa-solid fa-user-circle"></i>
                Admin
            </div>

        </div>

        <h1 class="page-title">Book Appoinments</h1>

        <div class="card">

            <form>

                <h3>Patient Details</h3>

                <div class="form-row">

                    <div class="form-group">
                        <label>Patient Name:</label>
                        <input type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="number">
                    </div>

                </div>

                <h3>Appointment Details</h3>

                <div class="form-row">

                    <div class="form-group">
                        <label>Department:</label>

                        <select>
                            <option value="">Select Department</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Dermatology">Dermatology</option>
                            <option value="Neurology">Neurology</option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Gynecology">Gynecology</option>
                            <option value="Ophthalmology">Ophthalmology</option>
                            <option value="ENT">ENT</option>
                            <option value="Psychiatry">Psychiatry</option>
                            <option value="Pulmonology">Pulmonology</option>
                            <option value="Urology">Urology</option>
                            <option value="Oncology">Oncology</option>
                            <option value="Endocrinology">Endocrinology</option>
                            <option value="Gastroenterology">Gastroenterology</option>
                            <option value="Nephrology">Nephrology</option>
                            <option value="Radiology">Radiology</option>
                            <option value="Pathology">Pathology</option>
                            <option value="Emergency Medicine">Emergency Medicine</option>
                            <option value="Anesthesiology">Anesthesiology</option>
                            <option value="Surgery">Surgery</option>
                        </select>

                    </div>

                    <div class="form-group">

                        <label>Available Doctors:</label>

                        <select>
                            <option></option>
                        </select>

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group">
                        <label>Appointment Date:</label>
                        <input type="date">
                    </div>

                    <div class="form-group">
                        <label>Appointment Time Slot:</label>
                        <input type="time">
                    </div>

                </div>

                <div class="form-group">
                    <label>Symptoms:</label>
                    <textarea rows="5" cols="40"></textarea>
                </div>

                <div class="form-group">

                    <label>Preferred Consulatation Type:</label>

                    <select>
                        <option>Online</option>
                        <option>Offline</option>
                    </select>

                </div>

                <button type="submit" class="btn">
                    Confirm Appointment
                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>