<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/doctor_dashboard.css">
</head>
<body>

    <div class="sidebar">
        <h2>Doctor Panel</h2>

        <a href="doctor_dashboard.html">Dashboard</a>
        <a href="view_appointments.html">Appointments</a>
        <a href="view_patients.html">Patients</a>
        <a href="diagnosis.html">Diagnosis</a>
        <a href="view_profile.html">Profile</a>
        <a href="logout.html">Logout</a>
    </div>

    <div class="main">
        <h1>Doctor Dashboard</h1>
        <div class="cards">
            <div class="card">
                <h2>25</h2>
                <p>Today's Appointments</p>
            </div>
            <div class="card">
                <h2>120</h2>
                <p>Total Patients</p>
            </div>
            <div class="card">
                <h2>15</h2>
                <p>Prescriptions Issued</p>
            </div>
        </div>

        <div class="section">
            <h2>Quick Actions</h2>
            <div class="actions">
               <a href="view_appointments.html">
               <button><h3>View Appointments</h3></button>
               </a>
               <a href="view_patients.html">
               <button><h3>View Patients</h3></button>
               </a>
               <a href="diagnosis.html">
               <button><h3>Diagnosis</h3></button>
               </a>
               <a href="add_pres.html">
               <button><h3>Add Prescription</h3></button>
               </a>
            </div>
        </div>
        <div class="section">
            <h2>Upcoming Appointments</h2>
            <table>
                <tr>
                    <th>Patient</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

