<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">

</head>
<body>

    <div class="top">
        <h3>HMS</h3>
        <p>Hospital Management System</p>
    </div>

    <div class="center">
        <h1>Hospital Management System</h1>

        <p>
            A smart solution to manage patients, doctors,
            appointments and medical records.
        </p>

        <div class="buttons">
            <button class="admin" href="">Admin Login</button>
            <button class="doctor" href="">Doctor Login</button>
            <button class="patient" href="">Patient Login</button>
        </div>

    </div>

    <h2 class="heading">Our Services</h2>

    <div class="boxall">

        <div class="box">
            <h3>Doctor Management</h3>
            <p>Add, update and manage doctor information easily.</p>
        </div>

        <div class="box">
            <h3>Patient Management</h3>
            <p>Keep track of patient records and medical history.</p>
        </div>

        <div class="box">
            <h3>Appointments</h3>
            <p>Schedule and manage appointments efficiently.</p>
        </div>

        <div class="box">
            <h3>Medical Reports</h3>
            <p>Maintain and access medical history and prescriptions securely.</p>
        </div>

    </div>

    <div class="bottom">
        <p>&copy; 2024 Hospital Management System. All rights reserved.</p>
    </div>

</body>
</html>