<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Medical Report</title>
    <link rel="stylesheet" href="{{url_for('static',filename='patient_medicalReport.css')}}">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>AegisHealth</h2>

            <a href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-house"></i> Dashboard
            </a>

            <a href="{{url_for('profile')}}">
                <i class="fa-solid fa-user"></i> Profile
            </a>

            <a href="{{url_for('bookappointment')}}">
                <i class="fa-solid fa-calendar-check"></i> Book Appointments
            </a>

            <a href="{{url_for('myappointment')}}">
                <i class="fa-solid fa-list"></i> My Appointments
            </a>

            <a href="{{url_for('prescription')}}">
                <i class="fa-solid fa-prescription"></i> Prescriptions
            </a>

            <a href="{{url_for('medicalrecord')}}" class="active">
                <i class="fa-solid fa-file-medical"></i> Medical Records
            </a>

            <a href="#">
                <i class="fa-solid fa-credit-card"></i> Bills & Payments
            </a>

            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>

        </div>
        <div class="main-content">
            <div class="page-header">
                <div class="icon">
                    <i class="fa-solid fa-file-medical"></i>
                    <h1>Medical Records</h1>
                </div>
                 <i class="fa-solid fa-user-circle profile-icon"></i>
            </div>
            <div class="records-section">
                <div class="records-header">
                    <h2>
                        <i class="fa-solid fa-notes-medical"></i>
                        Medical History
                    </h2>
                </div>
                <div class="records-content">
                    <i class="fa-solid fa-file-medical medical-icon"></i>
                    <h3>No medical records found</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>