<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Medical Report</title>
    <link rel="stylesheet" href="{{url_for('static',filename='page.css')}}">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">

        <div class="logo">
            <h2>HMS</h2>
            <p>Hospital Management System</p>
        </div>
        <div class="menu">

            <a href="{{url_for('patient_dashboard')}}">
                <i class="fa-solid fa-house"></i> Dashboard
            </a>

            <a href="{{url_for('patient_profile')}}">
                <i class="fa-solid fa-user"></i> Profile
            </a>

            <a href="{{url_for('patient_bookAppointment')}}">
                <i class="fa-solid fa-calendar-check"></i> Book Appointments
            </a>

            <a href="{{url_for('patient_myAppointment')}}">
                <i class="fa-solid fa-list"></i> My Appointments
            </a>

            <a href="{{url_for('patient_prescription')}}">
                <i class="fa-solid fa-prescription"></i> Prescriptions
            </a>

            <a href="{{url_for('patient_medicalReport')}}" class="active">
                <i class="fa-solid fa-file-medical"></i> Medical Records
            </a>

            <a href="#">
                <i class="fa-solid fa-credit-card"></i> Bills & Payments
            </a>

            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
            </div>

        </div>
        <div class="content">
            <div class="topbar">
                <h1 class="page-title">Medical Records</h1>
                <div class="profile">
                   <i class="fa-solid fa-user-circle"></i>
                   Patient
                </div>
            </div>
                <div class="card">
                    <table border="1" widht="250%">
                    <tr>
                        <th>Patient Name</th>
                        <th>Diagnosis</th>
                        <th>Treatment</th>
                    </tr>
                    {% for report in reports %}
                    <tr>
                        <td>{{report['patient']}}</td>
                        <td>{{report['diagnosis']}}</td>
                        <td>{{report['treatment']}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
