<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <!-- <link rel="stylesheet" href="../static/patient_login.css"> -->
     <link rel="stylesheet" href="{{url_for('static',filename='patient_login.css')}}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>AegisHealth</h1>
            <p>Patient Portal</p>
            <h2>Your Health,<br>Our Priority</h2>
            <p>Manage your appoinments,prescriptions and health
               records in one place</p>
        </div>
        <div class="right-panel">
            <h1>Welcome Back!</h1>
            <p>Please sign in to your account</p>
            <form action="{{url_for('check_login')}}" method="POST">
                <label>Email</label>
                <input type="email" placeholder="Enter your email" name="email" required>
                <label>Password</label>
                <input type="password" placeholder="Enter your password" name="password" required>
                <div class="options">
                    <div class="remember">
                    <input type="checkbox">Remember Me
                    </div>
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit">Login</button>
            </form>
            <div class="account">
                <p>Don't have an account?</p>
                <div class="reg">
                <a href="/patient_register">Register Here</a>
                </div>
                </div>
        </div>
    </div>
</body>
</html>