<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/table.css">
</head>
<body>
    <div class="sidebar">
        <h2>Doctor Panel</h2>

        <a href="doctor_dashboard.html">Dashboard</a>
        <a href="view_appointments.html">Appointments</a>
        <a href="view_patients.html">Patients</a>
        <a href="diagnosis.html">Diagnosis</a>
        <a href="view_profile.html">Profile</a>
        <a href="logout.html">Logout</a>
    </div>

    <h1>Patient Records</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
        </tr>
    </table>
    <br>
    <a href="/doctor">Back to Dashboard</a>

</body>
</html>